.App {
  text-align: center;
  
}
body {
  background-color: #f5f5f5;
}

table {
  padding-left:5px;
}

.player-stats{
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

.admin-performance-table{
  background-color: rgb(187, 157, 189);
}


.admin-stats-table{
  background-color: rgb(224, 188, 226);
}

.edit-performance-input{
  width: 35px;
}

.login-animate{
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}