#new-player{
    margin-left:auto;
    margin-right:auto;
}

#new-club{
    margin-left:auto;
    margin-right:auto;
}

#new-match{
    margin-left:auto;
    margin-right:auto;
}

#update-player{
    margin-left:auto;
    margin-right:auto;
}

#update-club{
    margin-left:auto;
    margin-right:auto;
}

#update-match{
    margin-left:auto;
    margin-right:auto;
}
