.team-icon{
  border-radius: 2px;
  padding: 2px;
  width: 55px;
}

#team-records{
  margin-left: auto;
  margin-right: auto;
}

table, th, td{
  border: 3px soild black;
  border-collapse: collapse;
}

.team-display{
  background-color: rgb(205, 150, 209);
}

.team-display:hover{
  background-color: rgb(209, 166, 211);
}
font{
  font-family: Georgia;
}
