.display-element{
    display: inline-block;
  }
.display-button{
    background-color:rgb(178, 89, 166);
    color: rgb(255, 255, 255);
    border: 2px;
    border:black;
    padding: 15px 32px;
  }
.display-button:hover{
    background-color:rgb(150, 43, 123);
  }