table{
    border-collapse: collapse;
    table-layout: auto;
    width: 40vw;
    margin-left: auto;
    margin-right: auto; 
}
tr {
    /* border: solid 1px #666; */
}
tr .year{
    width: 10vw;
    border: solid 1px #666;
}
tr .entry{
    width: 60vw;
    border: solid 1px #666;
} 